/* app css stylesheet */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.ng-table th.filter .input-filter {
  margin: 0;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
  height: 10px;
  padding: 0px;
  font-size: 10px;
  background-color: #fafafa;
}
.loader {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    padding-top: 8%;
    opacity: 1;
}

select {
    -webkit-appearance: listbox;
    width: 100%;
    height: 35px;
    line-height: 35px;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 0 0 1px 8px;
}

.no_connection {
	display:none;
    background-color: #c71c22;
    color: white;
    border-bottom: 2px solid #f56767;
}

.no_connection p {padding: 0;margin: 9px;text-align: center;}

@media only screen and (max-width: 767px) {
.sidebar-nav.activer .nav-canvas {
    top: -20px !important;
    left: -15px !important;
}
}

.bg_login{
  background-image: url('front/bg_login.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
[data-ng-if] {
  clear: both;
  margin: 30px 0;
  float: left;
  background: #e0353d;
  padding: 20px;
  width: 100%;
}

[data-ng-if] > p {
  display: block;
  width: 100%;
  text-align: center;
}



.dec:after {
  content: ' \25BC';
  color: #777;
  font-size: 8px;
  position: absolute;
  margin: 3px 8px;
}
.dec.acc:after {
  content: ' \25B2';
  color: #777;
  font-size: 8px;
  position: absolute;
  margin: 3px 8px;
}
.filter_input{
  width:60px;
}
.filter_select{
  width:60px;
}
.filter_input_range{
  width:30px;
}