
<div class="ch-container bg_login">
    <div class="row">
        
    <div class="row">
        <div class="col-md-12 center login-header">
           <img src="front/img/logo.png">
        </div>
        <!--/span-->
    </div><!--/row-->
<style>
    .ch-container.ng-scope {
    position: fixed;
    background-color: white;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
}
</style>
    <div class="row" style="padding-top: 40px;">
 
        <div class="well col-md-3 center login-box">
            <div class="alert alert-info">
                Wpisz swoją nazwę użytkownika i hasło.
            </div>
            <form class="form-horizontal" ng-submit="formSubmit()" >
                <fieldset>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                        <input ng-model="username" type="text" class="form-control" placeholder="Użytkownik">
                    </div>
                    <div class="clearfix"></div><br>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                        <input  ng-model="password" type="password" class="form-control" placeholder="Hasło">
                    </div>
                    <div class="clearfix"></div>

                    <div class="input-prepend">
                       <span class="text-danger" style="color:red">{{ error }}</span>
                    </div>
                    <div class="clearfix"></div>

                    <p class="center col-md-5">
                        <button type="submit" class="btn btn-primary">Zaloguj</button>
                    </p>
                </fieldset>
            </form>
        </div>
        <!--/span-->
    </div><!--/row-->
</div><!--/fluid-row-->

</div><!--/.fluid-container-->